.one{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.two{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.three{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}