.one{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.two{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.three{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}

.four{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.five{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}
.six{
	margin: 50px;
	margin-top: 50px;
	padding: 20px;
	display: inline-block;
	color: orange;
	font-size: 30px;
}