
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body{
	background-color: #000
}

.title{
	display: flex;
	flex-direction: row;
	padding: 22px;
	font-family: 'Bebas Neue', cursive;
	font-size: 35px;
	color: white;
}
header{
	margin-left: 30px
}

content{
	font-size: 15px;
	margin-top: 15px;
	font-family: helvetica;
	font-style: italic;
	font-weight: 800;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 3fr ;
	grid-column-gap: 1em;
	grid-row-gap: 5px;
	grid-auto-rows: minmax(200px, auto)
}

.grid > div{
	background: #fff;
	padding: 1em;
	margin: 1em;
}

.grid > div:nth-child(1){
	background-color: #000
}

.grid > div:nth-child(4){
	background-color: #000
}
.grid>div:nth-child(2){
	background-color: #000
}
.grid>div:nth-child(5){
	background-color: #000

}

.grid>div:nth-child(3){
	background-color: #000

}
.grid>div:nth-child(7){
	background-color: #000

}
.grid>div:nth-child(8){
	background-color: #000

}
.grid>div:nth-child(6){
	background-color: #000

}

.grid>div:nth-child(9){
	background-color: #000

}
.grid>div:nth-child(10){
	background-color: #000

}

.grid>div:nth-child(11){
	background-color: #000

}

.box1{
	font-family: 'Bebas Neue', cursive;
	font-size: 30px;
	text-align: left;
	color: white;
}



.box3{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 20px;

}

.box3-1{
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	color: white;
	
}

.box6{
	display: grid;
	grid-template-columns: 1fr 1fr;

}


.box9{
	font-family: helvetica;
	font-size: 18px;
	text-align: justify;
	color: #422373;

}

.box10{
	grid-column: 1/4;

}
.box11{
	grid-column: 1/4
}
.box11{
	display: flex;
	flex-direction: row;
	grid-gap: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 20px;
	padding: 10px;
	color: white;

}

.img3{
	width: 365px;
	height: 240px
}

.img5{
	width: 365px;
	height: 240px
}

.img2{
	width: 365px;
	height: 240px;
}

.img6{
	width: 365px;
	height: 240px;
}
.img4{
	width: 365px;
	height: 240px;

}

.jpg1{
	width: 180px;
	height: 100px;
}

.jpg2{
	width: 180px;
	height: 100px;
	margin-top: 23px;
}
.jpg3{
	width: 180px;
	height: 100px;
}

.jpg4{
	width: 180px;
	height: 100px;
	
}

.jpg5{
	width: 180px;
	height: 100px;
}
.jpg6{
	width: 180px;
	height: 100px;
}

.jpg7{
	width: 180px;
	height: 100px;
}
.jpg8{
	width: 180px;
	height: 100px;
}



.box10{
	display: flex;
	flex-direction: row;
	grid-gap: 30px;
	font-family: 'Bebas Neue', cursive;
	font-size: 40px;
	padding: 10px;
	color: white;
}
.png9{
	width: 200px;
	height: 250px;
	margin-left: 10px;
}


.png10{
	width: 200px;
	height: 250px;
}


.png11{
	width: 200px;
	height: 250px;
}
.png12{
	width: 200px;
	height: 250px;
}
.png13{
	margin-left: 190px;
	width: 200px;
	height: 250px;
}.png14{
	width: 200px;
	height: 250px;
}
.png15{
	width: 200px;
	height: 250px;
}
.png16{
	width: 200px;
	height: 250px;
}


